.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  gap: 15px;
  margin-top: 30px;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cardImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.cardTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 15px 0 10px;
  text-align: center;
}

.cardDescription {
  font-size: 16px;
  color: #555;
  padding: 0 15px;
  text-align: center;
}

.cardButton {
  background-color: #0b3b52;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 15px auto 20px;
  font-size: 16px;
 
}

