
 body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  background-color: #f4f4f9;
}


.formContainer {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #0b3b52;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}


.title {
  font-size: 2.5em;
  margin-bottom: 30px;
  text-align: center;
  color: #f0f0f0;
  font-family: "Italianno", cursive;
}


.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 1.1em;
  margin-bottom: 8px;
  color: #c0c0c0;
}


.input {
  padding: 12px;
  font-size: 1em;
  border: 2px solid #c0c0c0;
  border-radius: 10px;
  background-color: #f1f1f1;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:focus {
  border-color: #49bcb5;
  box-shadow: 0px 4px 10px rgba(73, 188, 181, 0.3);
  outline: none;
}


.imgInfo {
  text-align: center;
  color: #f0f0f0;
}

.submitBtn {
  width: 100%;
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #96e1dc;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.submitBtn:hover {
  background-color: #49bcb5;
  transform: translateY(-3px);
}



.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1em;
  color: #c0c0c0;
  margin-top: 10px;
}


@media (max-width: 768px) {
  .formContainer {
    padding: 20px;
    max-width: 100%;
    box-shadow: none;
  }

  .title {
    font-size: 2em;
  }

  .input {
    font-size: 0.9em;
    padding: 10px;
  }

  .submitBtn {
    font-size: 1em;
    padding: 12px;
  }
}
