/* Base styles for the sidebar */
.--flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.--dir-column {
  flex-direction: column;
}


.active-link {
  background: #79efe7;
  border-radius: 12px;
}

.left {
  padding: 16px;
  width: 307px;
  max-width: 300px;
  height: 760px;
  background-color: #0b3b52;
}

.left > div {
  padding: 8px 12px;
  margin: 8px;
}

.left > div > a {
  font-size: 14px;
  font-weight: 500;
  font-family: var(--font-family);
  width: 100%;
  padding: 8px 12px;
}

